.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light gray background */
    text-align: center;
}

.title {
    font-size: 10rem;
    color: #333; /* Dark gray for the 404 text */
    margin: 0;
}

.message {
    font-size: 1.5rem;
    color: #555; /* Medium gray for the message */
    margin: 20px 0;
}

.homeButton {
    padding: 10px 20px;
    background-color: #28a745; /* Green button */
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #218838; /* Darker green on hover */
}
